body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom right, #051937, #223c5d, #406485, #608ead, #84bad6);
}

h1 {
    text-align: center;
    color: #ffffff;
}

p {
    color: #ffffff;
}

a {
    text-decoration: none;
}

.banner {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner > h1 {
    color: #ffffff;
    font-size: 5vw;
    margin-bottom: 0px;
}

.banner > p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 35px;
}

.links {
    text-align: center;
    font-size: 25px;
}

.links > a {
    color: #ffffff;
    padding: 3px;
    margin: 12px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}

.links > a:hover {
    color: #2c2b3b;  
}


nav {
    background-color: #2c2b3b;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #d8e8e9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #aa0108;
    color: #d8e8e9;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #aa0108;
    color: #d8e8e9;
}