body {
    margin: 0;
    margin-top: 100px;
    background-color: #a8d0da; 
    font-family: monospace;
    
}
h1 {
    text-align: center;
    color: black;
    border: 2px solid #2f3a57;
    margin: 30px;
}
p {
    color: black;
    font-size: 15px;
}

nav {
    background-color: #2f3a57;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #d8e8e9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #de121a;
    color: #d8e8e9;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #de121a;
    color: #d8e8e9;
}